ody{
    background-color:bisque;
}

header{
     
   background-color:brown;
   height: 150px;
}
h1{
    font-style:italic;
    font-size: 70px;
    float: center;
text-align: center;
text-decoration: none;
color :#070404;


}



    
header nav{

    float: center;

    width: 30%;

    margin-top: 15px;

}

header nav ul li{
   
    display: inline-block ;
}

header nav ul li a{
    font-weight:bold ;
    color:beige;
    text-decoration: none;
}

footer{
    font-weight: unset;
    text-align: center;
    margin-top: 350px;
}

dl{
    text-align: center;
    margin-top: 200px;
}



ol {
    counter-reset: section;                
    list-style-type:none;
  }
  
   ol li::before {
    counter-increment: section;      
    content: counters(section, "-") " ";   
                                              
                                              
  }



  ul li{
 
  
    border-radius: 10%;
   
    list-style-type:circle;
    line-height: 25px;
    text-align: center;
  }